﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="Willairways Virtual .aspx.vb" Inherits="Willairways_Virtual_" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <style type="text/css">
        .auto-style1 {
            text-align: center;
        }
        .auto-style10 {
            font-size: larger;
        }
        .auto-style4 {
            font-size: x-large;
            }
        .auto-style11 {
            text-align: center;
            font-size: xx-large;
        }
        .auto-style7 {
            font-size: x-large;
        }
        .auto-style8 {
            font-size: 11.0pt;
            font-family: Calibri, sans-serif;
            margin-left: 0cm;
            margin-right: 0cm;
            margin-top: 0cm;
            margin-bottom: .0001pt;
        }
        .auto-style5 {
            text-align: center;
            font-size: x-large;
        }
        .auto-style9 {
            font-size: xx-large;
        }
        .auto-style12 {
            font-size: xx-large;
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <form id="form1" runat="server">
        <div class="auto-style1">
            <p class="auto-style4">
                <span class="auto-style12"><strong>Welcome to Willairways Virtual</strong></span><o:p></o:p>
            </p>
            <p class="auto-style11">
                <span style="box-sizing: border-box;">About Us</span></p>
            <p class="auto-style7">
                <span class="auto-style10">
                <asp:Label ID="Label2" runat="server" Text=" Established in 2018 Willairways Virtual is the&nbsp;most popular&nbsp;flight simulation community." Font-Names="Calibri"></asp:Label>
            &nbsp;<asp:Label ID="Label3" runat="server" Text="Through partnership with the global Virtual Air Traffic Simulation Network (VATSIM) and, more recently, the International Virtual Aviation Organisation (IVAO)" Font-Names="Calibri"></asp:Label>
                Willairways Virtual is perfect for </span> <span style="font-family: &quot;Calibri&quot;,sans-serif; mso-ascii-theme-font: minor-latin; mso-fareast-font-family: Calibri; mso-fareast-theme-font: minor-latin; mso-hansi-theme-font: minor-latin; mso-bidi-font-family: &quot;Times New Roman&quot;; mso-bidi-theme-font: minor-bidi; mso-ansi-language: EN-GB; mso-fareast-language: EN-US; mso-bidi-language: AR-SA"><span class="auto-style10">Special needs and normal people</span></span></p>
            <p class="auto-style8">
                &nbsp;</p>
            <p class="auto-style5">
                &nbsp;&nbsp;&nbsp;
                <asp:Button ID="Button3" runat="server" CssClass="auto-style9" Height="46px" Text="Download &amp; updates" Width="355px" BackColor="#999999" />
                <asp:Button ID="Button1" runat="server" CssClass="auto-style9" Height="46px" Text="use online" Width="438px" BackColor="#FF9900" />
            &nbsp;&nbsp;
                <asp:Button ID="Button4" runat="server" CssClass="auto-style9" Height="46px" Text="Standard Operational Procedures" Width="504px" BackColor="#999999" />
                <asp:Button ID="Button5" runat="server" BackColor="#999999" CssClass="auto-style9" Height="45px" Text="Download wav Dispatch Center" Width="531px" />
                <asp:Button ID="Button6" runat="server" CssClass="auto-style9" Height="46px" Text="Download wav Dispatch Center Manual" Width="622px" BackColor="#999999" />
            </p>
            <p class="auto-style5">
                To process updates please deinstall and install the latest version</p>
            <p class="auto-style5">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </p>
        <asp:Label ID="Label1" runat="server" BackColor="#3366CC" Text="Copyright © 2018  Willairways Virtual All rights reserved."></asp:Label>
        </div>
    </form>
</body>
</html>
